// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status {
	border-bottom:1px dotted #CCC;
	padding:5px 0;
	margin-bottom:10px;
}

.status p {
	padding:2px 0;
}

.status .admin {
	display:none;
}
.status.hover {
	background:#f6f6f6;
}
.status.hover  .admin{
	display:inline;
}